
.editForm input {
    width: 100%;
    background-color: #161D2F;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.editFormGroup textarea {
    width: 100%;
    background-color: #161D2F;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    resize: none;
}

.editCategory legend {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5;
}

.editCategory fieldset {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 10px;
    background-color: #161D2F;
    padding: 15px;
    width: 80%;
}

.edit-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
}

.close-btn {
    background-color: firebrick;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 500ms ease;
}

.close-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.edit-submit {
    background-color: teal;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 500ms ease;
}

.edit-submit:hover {
    cursor: pointer;
    transform: scale(1.05);
}