.comment-form {
    margin: 0 auto;
    background: #161D2F;
    border-radius: 10px;
    width: 95%;
}

.comment-form form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.comment-form form textarea {
    height: 40px;
    width: 77%;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    color: #333;
}

.comment-form button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: teal;
}

.comment-list {
    line-height: 2rem;
    width: 95%;
    margin: 0 auto;
    
}

.comment-list p {
    font-size: 1.2rem;
    background-color: #10141E;
    margin: 5px 0px;
    padding: 5px 10px;
    border-radius: 10px;
}